.nav {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 35px 0 0;
    list-style: none;
    display: flex;  
}


.nav__link {
    a   {
        display: block;
        padding: 5px 20px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    &:first-child {
        border-right: 1px solid black;

        a {
            padding-left: 0;
        }
    }

    img {
        width: 22px;
    }
}

